<% provide(:title, 'Home') %>

<html lang="en">
  <!-- Stylesheet for the home page -->
  <head>
    <%= stylesheet_link_tag 'home' %>
  </head>
  <!-- Main body -->
  <body>
    <section class="main-background">
      <!-- Important stuff for the main page -->
      <h1><b>Welcome to Made By Eight!</b></h1>
      <h2><i>Your letter tells your story</i></h2>
    </section>
    <section class="orders-with-cards">
      <!-- Card for large bespoke orders -->
      <div class="card">
        <%= image_tag "example1.jpg" %>
        <div class="card-body">
          <h5 class="card-title">Large Bespoke Orders</h5>
          <p class="card-text"></p>
          <%= link_to "Click to place an order", "#" %>
        </div>
      </div>
      <!-- Specialty Items -->
      <div class="card">
        <%= image_tag "example2.jpg" %>
        <div class="card-body">
          <h5 class="card-title">Specialty Items</h5>
          <p class="card-text">Other stuff for specialty stuff</p>
          <%= link_to "Click for specialty stuff", "#" %>
        </div>
      </div>
      <!-- Bespoke Items -->
      <div class="card">
        <%= image_tag "example3.jpg" %>
        <div class="card-body">
          <h5 class="card-title">Bespoke Items</h5>
          <h6 class="card-text"><i>Make it yours</i></h6>
          <%= link_to "Click for categories", "#" %>
        </div>
      </div>
    </section>
  </body>
</html>