<%= stylesheet_link_tag 'footer' %>

<div class="footer">
  <%= link_to "Shop", "#", class: "blue" %>
  <div class="vr"></div>
  <%= link_to "About us", "#", class: "blue" %>
  <div class="vr"></div>
  <%= link_to "Size Guide", "#", class: "blue" %>
  <div class="vr"></div>
  <%= link_to "Contact Information", "#", class: "blue" %>
  <div class="vr"></div>
  <%= link_to "Shipping", "#", class: "blue" %>
  <div class="vr"></div>
</div>