<%= stylesheet_link_tag 'header' %>
<script src="https://kit.fontawesome.com/891a8f4c08.js" crossorigin="anonymous"></script>
<nav class="navbar navbar-expand-lg d-flex">
  <!-- Left Section -->
  <div class="collapse navbar-collapse" id="navbarLeftMargin">
    <div class="navbar-nav">
      <%= link_to "ACCESSORIES", accessories_path, class: "nav-link no-decoration blue" %>
      <%= link_to "ABOUT", about_path, class: "nav-link no-decoration blue" %>
      <%= link_to "CONTACT", contact_path, class: "nav-link no-decoration blue" %>
    </div>
  </div>

  <!-- Center Section -->
  <a class="navbar-brand mx-auto" id="navbarCenter">
    <%= link_to image_tag("logo.png", :alt => "logo", class: "logo"), root_path %>
  </a>

  <!-- Right Section -->
  <div class="collapse navbar-collapse" id="navbarRightMargin">
    <i class="fa-solid fa-magnifying-glass"></i>
    <i class="fa-solid fa-user"></i>
    <i class="fa-solid fa-cart-shopping"></i>
  </div>
</nav>